<div class="container pt-3">
    <div class="row">
      <%=render 'users/userinfo',user: @user,books: @books %>
      <div class="col-md-8 affset-md-1">
        <h2>Books</h2>
        <table>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Option</th>
          </tr>
          <% @book.each do |book| %>
          <tr>
            <td><%= image_tag book.user.get_image %></td>
            <td><%= book.title %></td>
            <td><%= book.body %></td>
          </tr>
          <% end %>
        </table>
      </div>

      </div>
    </div>
</div>