@import '~bootstrap/scss/bootstrap';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';

body{
  line-height: 1.5;
  font-weight: 400;
}
.nav-item,.link{
  padding:8px;
  color:#fff;
}

ul{
  list-style:none;
}

.btn-block{
  margin:0px 15px;
}

tr{
  border-top:solid 2px silver;
}

th{
  border-top:solid 1px silver;
  padding:10px;
}

